$success: #26a85a;
$success-dark: #087E37;
$success-a40: rgba(#26a85a, 0.4);
$error: #e2544b;
$error-dark: #BC251B;
$link-blue: #166ab9;
$soft-sand: #f3efeb;
$prime: #EB661B;

$black-a60: rgba(0, 0, 0, 0.6);
$black-a30: rgba(0, 0, 0, 0.3);
$black-a12: rgba(0, 0, 0, 0.12);
$black-a08: rgba(0, 0, 0, 0.08);
$black-a04: rgba(0, 0, 0, 0.04);

$white-a12: rgba(255, 255, 255, 0.12);
