$success: #26A85A;
$success-a40: rgba(#26A85A, .4);
$error: #E2544B;
$link-blue: #166AB9;

$black-a60: rgba(0, 0, 0, .60);
$black-a30: rgba(0, 0, 0, .30);
$black-a12: rgba(0, 0, 0, .12);
$black-a08: rgba(0, 0, 0, .08);
$black-a04: rgba(0, 0, 0, .04);