@use "./sass-utils/colors";
@use "./sass-utils/fonts";
h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.col-2 {
    width: calc((100% - 24px) / 2);
}
