@use "./sass-utils/colors";
@use "./sass-utils/fonts";
@forward "./base/icons";
@forward "./base/reset";
@forward "./base/layout";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    background-color: colors.$soft-sand;
    &.is-help-screen-open{
        overflow-y: hidden;
    }
}

h2 {
    font-size: 18px;
    line-height: 24px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.col-2 {
    width: calc((100% - 24px) / 2);
}

a,
.link {
    color: colors.$link-blue;
}

.link {
    cursor: pointer;
}

b {
    font-family: "Roboto Mono", monospace;
    background-color: colors.$black-a08;
    padding: 0 8px;
    margin: 0 2px;
    border-radius: 2px;
    line-height: 24px;
}

p {
    @include fonts.body;
    margin: 16px 0;
}