@use "./sass-utils/colors";
@use "./sass-utils/fonts";
@use "./sass-utils/include-media" as *;
@forward "./base/icons";
@forward "./base/reset";
@forward "./base/layout";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
    font-family: "Roboto", sans-serif;
    background-color: colors.$soft-sand;
    &.is-help-screen-open {
        overflow-y: hidden;
    }
}

h2 {
    font-size: 18px;
    line-height: 24px;
}
section {
    .container {
        display: flex;
        justify-content: space-between;
        @include media("<tablet") {
            display: block;
        }
    }

    .col-2 {
        width: calc((100% - 24px) / 2);
        @include media("<tablet") {
            width: 100%;
        }
        .text-field {
            @include media("<tablet") {
                margin-bottom: 24px;
            }
        }
    }
}

a,
.link {
    color: colors.$link-blue;
}

.link {
    cursor: pointer;
}

b {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    background-color: rgba(#8d796d, 0.12);
    padding: 1px 8px 2px;
    margin: 0 2px;
    border-radius: 3px;
    line-height: 24px;
    color: #ac4b15;
}

p {
    @include fonts.body;
    margin: 16px 0;
}
